.component {
  min-height:81vh;
}

/* svg {
  
    filter: drop-shadow(1px 1px 0px #000000) drop-shadow(-1px 1px 0px #000000) drop-shadow(1px -1px 0px #000000) drop-shadow(-1px -1px 0px #000000) !important;
  
} */
.logo-outline {
  filter:drop-shadow(1px 1px 1px #000)
}





.reviewImg:hover{
  transform: scale(1.2)
}
.reviewImg{
  width: 200px;
  height: auto;
  /* ease | ease-in | ease-out | linear */
  transition: transform ease-in-out 0.3s;
}



.place-logo{
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  width: 150px;
  height: 150px;
}





.slider-container {
  border-radius : 25px;
  display : flex;
  width : 15em;
  margin-left: auto;
  margin-right: auto;
  background-color : white;
  color : gainsboro;
}

.slider-container .option {
  border-radius : 25px;
  width : 5em;
  margin : 0em;
  padding : .5em;
  text-align : center;
}

.slider-container .option.highlighted {
  background-color : red;
  color : white;
}




.podium-places-container {
  display: flex;
  width : 90%;
  margin-left: auto;
  margin-right : auto;
  justify-content : center;
}

.podium {
  display : grid;
  grid-template-columns: 1fr 3fr;
  width : 15em;
  background-color : white;
  margin : 2.5em;
  border-radius : 40px;
  color : black;
}

.podium .position {
  border-right-style: solid;
  border-color: white;
  border-width : .4em;

}

.podium .position {
  width : 5em;
  position : relative;
}

.podium.gold .position {
  width : 7em;
}

.podium .class-information {
 padding : 1em;
}

.podium.bronze, .podium.silver {
  width : 17.5em;
  height : 10em;
  margin-top : 5em;
}

.podium.silver .position div,
.podium.bronze .position div {
  position : absolute;
  top : .4em;
  left : .2em;
  font-size : 5em;
}

.podium.gold .position div {
  position : absolute;
  top : .3em;
  left : .2em;
  font-size : 8em;
}



.podium.bronze .class-information .title, .podium.silver .class-information .title {
  margin-top : .5em;
  font-size : 1.5em;
}

.podium.bronze .class-information .steps, .podium.silver .class-information .steps {
  margin-top : .5em;
  font-size : 1.5em;
}

.podium.gold .class-information .title {
  margin-top : .5em;
  font-size : 3em;
}

.podium.gold .class-information .steps {
  margin-top : .5em;
  font-size : 3em;
}



.podium.bronze {
  background-color : #956D49;
}

.podium.silver {
  background-color :  #9DA2AD;
}

.podium.gold {
  background-color : #d3b139;
  height : 15em;
  width : 30em;
}
.bronze {
  background-color : #956D49;
}

.silver {
  background-color :  #9DA2AD;
}

.gold {
  background-color : #d3b139;
}
















.pagey {
  min-height: 480px;
  padding: 0;
  position: relative;
  background: linear-gradient(180deg,rgba(0,0,0,.3),transparent),linear-gradient(0deg,rgba(0,0,0,.8),transparent),url(https://s3-media0.fl.yelpcdn.com/assets/public/hero.yji-78765fccc38b453cb0a31d9d0c514511.jpg) no-repeat 50%;
  background-size: auto, auto, auto;
  background-size: cover;}

  .homeTitle{
    font-size: 45px;
    line-height: 58px;
    font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 900;
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    color: #fff;
  }
.wrapTileHome{
    align-items: center;
    padding-top: 24px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    min-height: 480px;
    justify-content: center;
    padding-bottom: 24px;
    text-align: center;
    max-width: 980px;
}


@media (max-width: 575.98px) {

  .podium.gold {
    background-color : #d3b139;
  }

  
.podium.gold .class-information .title {
  margin-top : .5em;
  font-size : 1.5em;
}

.podium.gold .class-information .steps {
  margin-top : .5em;
  font-size : 1.5em;
}

 }





 .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}













.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}